.addItem {
  margin-top: 15px;
}

.area {
  border: 1px dashed #999999;
  padding: 10px 10px 0;
  margin-top: 10px;

  .row {
    display: flex;
    margin-bottom: 10px;

    .label {
      width: 64px;
      line-height: 32px;
    }

    .content {
      flex: 1;
    }
  }
}

