@font-face {
  font-family: "iconfont"; /* Project id 3120251 */
  src: url('//at.alicdn.com/t/font_3120251_9b08d0jropq.woff2?t=1641375489504') format('woff2'),
  url('//at.alicdn.com/t/font_3120251_9b08d0jropq.woff?t=1641375489504') format('woff'),
  url('//at.alicdn.com/t/font_3120251_9b08d0jropq.ttf?t=1641375489504') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
