.wrapper {
  margin-top: 15px;
  border-top: 1px solid #EEE;

  .row {
    display: flex;
    margin-top: 15px;

    .label {
      width: 100px;
    }

    .content {
      flex: 1;
    }
  }

  .addItem {
    margin-top: 15px;
  }

  .area {
    border: 1px dashed #999999;
    padding: 10px 10px 0;
    margin-top: 15px;
    position: relative;

    .delete {
      cursor: pointer;
      color: #fff;
      position: absolute;
      right: -10px;
      background: #ff0000;
      width: 22px;
      height: 22px;
      top: -10px;
      border-radius: 11px;
      text-align: center;
      font-size: 16px;
      line-height: 22px;
    }

    .area-row {
      display: flex;
      margin-bottom: 10px;

      .label {
        width: 64px;
        line-height: 32px;
      }

      .content {
        flex: 1;
      }
    }
  }
}
